Bak
bin
cpd-cli-linux-EE-*
cpd-cli-workspace
Download
Save
Scripts/New
noGit_Notes*
Out
Yaml
*conf_kubeconfig_download.conf
cpd-pcr-base
cpd-private-registry
cpd-priv-reg-xdata
cpd-reg-appconnect
pcr-openshift
pcr-openshift-3
pcr-cpd-base
pcr-watsonx-ai
pcr-watsonx-data
pcr-watsonx-orch
pcr-wx-ai-fm
.oc-mirror.log
hist.*.out
OpenShift*_bak*
